.red {
  font-size: 2rem;
  text-align: center;
  border: 3px solid green;
}

h1 {
  color: red;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;

  align-items: center;

  input {
    max-width: 50%;
  }
}