.red {
  font-size: 1rem;
  text-align: center;
}

h1 {
  text-align: center;
}

.active {
  border: 3px solid black;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    max-width: 50%;
  }
}
