.creditCardWrapper {
  align-items: center;
  background-color: #fff;
  border-radius: 3%;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  margin-top: 30vh;
  width: 40vw;

  @media screen and (max-width: 950px) {
    width: 100%;
    margin-top: 20vh;
  }
}
